services:
  mysql:
    container_name: mysql
    image: mysql:latest
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: 123
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: scheduler
    ports:
      - "3306:3306"
    networks:
      - scheduler-network
  mailhog:
    container_name: mailhog
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - scheduler-network

networks:
  scheduler-network:
    driver: bridge
